@page
@model MusicalSalon.Application.Pages.Providers.AddModel
@{
}

<h2>Create</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Provider.Name"></label>
        <input asp-for="Provider.Name" class="form-control" />
        <span asp-validation-for="Provider.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>