@page
@model MusicalSalon.Application.Pages.Providers.AddModel
@{
}

<h2>Добавление поставщика</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Provider.Name">Название</label>
        <input asp-for="Provider.Name" class="form-control" />
        <span asp-validation-for="Provider.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>