@page
@model MusicalSalon.Application.Pages.IndexModel

<h1>Музыкальный салон "Ля мажор"</h1>

<p>
    Сайт для ведения учета информацией музыкального салона
</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Песни</h5>
                <p class="card-text">Песни исполнителей.</p>
                <a href="/Songs" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Продажи</h5>
                <p class="card-text">Продажи записей и дисков.</p>
                <a href="/Sales" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Поставки</h5>
                <p class="card-text">Поставки от поставщиков компании.</p>
                <a href="/Receipts" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Поставщики</h5>
                <p class="card-text">Доставка и обеспечение.</p>
                <a href="/Providers" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Исполнители</h5>
                <p class="card-text">Музыканты и группы.</p>
                <a href="/Musicians" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Жанры</h5>
                <p class="card-text">Жанры музыки.</p>
                <a href="/Genres" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Диски</h5>
                <p class="card-text">Диски и записи песен.</p>
                <a href="/Disks" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>
