@page
@model MusicalSalon.Application.Pages.Sales.EditModel

<h2>Изменение продажи</h2>

<form method="post">
    <input type="hidden" asp-for="Sale.Id" />

    <div class="form-group">
        <label>Диск</label>
        <select asp-for="Sale.DiskName" name="Sale.DiskName" class="form-control">
            <option value="">Выберите диск</option>
            @foreach (var song in Model.Disks)
            {
                <option value="@song.Id">@song.Title</option>
            }
        </select>
        <span class="text-danger">

        </span>
    </div>

    <div class="form-group">
        <label asp-for="Sale.SaleDate">Дата</label>
        <input asp-for="Sale.SaleDate" type="date" class="form-control" />
        <span asp-validation-for="Sale.SaleDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sale.Quantity">Количество</label>
        <input asp-for="Sale.Quantity" class="form-control" />
        <span asp-validation-for="Sale.Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sale.FullPrice">Полная цена</label>
        <input asp-for="Sale.FullPrice" class="form-control" />
        <span asp-validation-for="Sale.FullPrice" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Изменить</button>
</form>
