@page
@model MusicalSalon.Application.Pages.Receipts.EditModel

<h2>Изменение поставки</h2>

<form method="post">
    <input type="hidden" asp-for="Receipt.Id" />

    <div class="form-group">
        <label asp-for="Receipt.Number">Номер поставки</label>
        <input asp-for="Receipt.Number" class="form-control" />
        <span asp-validation-for="Receipt.Number" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Receipt.RecieveDate">Дата</label>
        <input asp-for="Receipt.RecieveDate" type="date" class="form-control" />
        <span asp-validation-for="Receipt.RecieveDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Поставщик</label>
        <select asp-for="Receipt.ProviderName" name="Receipt.ProviderName" class="form-control">
            <option value="">Выберите поставщика</option>
            @foreach (var provider in Model.Providers)
            {
                <option value="@provider.Id">@provider.Name</option>
            }
        </select>
        <span class="text-danger">

        </span>
    </div>

    <div class="form-group">
        <label asp-for="Receipt.Quantity">Количество</label>
        <input asp-for="Receipt.Quantity" class="form-control" />
        <span asp-validation-for="Receipt.Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Receipt.FullPrice">Полная цена</label>
        <input asp-for="Receipt.FullPrice" class="form-control" />
        <span asp-validation-for="Receipt.FullPrice" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Изменить</button>
</form>
